<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Broker Simulator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HomeBrokerClient.styles.css" asp-append-version="true" />

    <!--Design resouces links-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div id="page-header">
                Home Broker Simulator
            </div>
            <div id="menu">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light"  asp-area="" asp-controller="Home" asp-action="Nota">Nota de negociação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light"  asp-area="" asp-controller="Home" asp-action="Sobre">Créditos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="page-footer">
            &copy; 2022 - Home Broker Simulator - Developed by <a href="https://github.com/sergio-lacerda" target="_blank">Sérgio Lacerda</a>
        </div> 
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>     
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
