@{
}

<div class="col">
    <div class="card border border-secondary">
        <h5 class="card-header bg-secondary text-white" style="text-align: center;"> Gráfico das ofertas</h5>
        <div class="card-body">
            <div id="curve_chart"></div>
        </div>
    </div>
</div>
