@{
    ViewData["Title"] = "Home Page";
    var hoje = DateTime.Now.ToString("d");
}

<div>  
    <br />
    
    <div class="row">
        <div class="col">            
            <div class="card border border-secondary" style="min-height: 350px;">
                <h5 class="card-header bg-secondary text-white" style="text-align: center;">Livro de Ofertas</h5>
                <div class="card-body">
                    <div id="book-search">
                        <form class="d-flex">
                            <input id="inTicker" name="inTicker" class="form-control me-2" type="text" placeholder="Código da ação" aria-label="Papel" style="text-transform:uppercase;">
                            <button id="btnEnviar" class="btn btn-warning" type="button" style="width:120px;" onclick="atualiza_param()">
                                Buscar
                            </button>
                        </form>
                    </div>
                    <div id="divPvOfertas" class="col">
                        @{                            
                            await Html.RenderPartialAsync("_OfertasPartialView");
                        }
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card border border-secondary">
                <h5 class="card-header bg-secondary text-white" style="text-align: center;"> Ordens</h5>
                <div class="card-body">
                    <div id="order-form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="lblType">Tipo</span>
                            <input type="text" id="inType" class="form-control" value="Mercado à vista" disabled>

                            <span class="input-group-text" id="lblDate">Data</span>
                            <input type="text" id="inDate" class="form-control" value="@hoje" disabled>
                        </div>
                        <form>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblTicker">Papel</span>
                                <input type="text" id="inTickerOrder" class="form-control" placeholder="PETR4" style="text-transform:uppercase;">

                                <span class="input-group-text" id="lblAmount">Quantidade</span>
                                <input type="number" id="inAmount" class="form-control" placeholder="100">

                                <span class="input-group-text" id="lblPrice">Preço</span>
                                <input type="number" id="inPrice" class="form-control" placeholder="0.00">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblSign">Assinatura digital</span>
                                <input type="password" id="inSign" class="form-control">

                                <span class="input-group-text" id="lblTotal">Total</span>
                                <input type="number" id="inTotal" class="form-control" placeholder="0.00" disabled>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-evenly; padding: 5px 5px;">
                                <button class="btn btn-warning" type="submit" style="width:120px;">Comprar</button>
                                <button class="btn btn-info" type="submit" style="width:120px;">Vender</button>
                                <button class="btn btn-secondary" type="reset" style="width:120px;">Limpar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />

    <div id="divPvOrdens" class="card border border-secondary" style="min-height: 200px;">
        @{
            await Html.RenderPartialAsync("_OrdensPartialView"); 
        } 
    </div>

    <br />   

    <div id="divPvMinhasAcoes">
        @{
            await Html.RenderPartialAsync("_MinhasAcoesPartialView"); 
        }
    </div>   
    
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/atualiza-partial-view.js"></script>
}

    

