@{
}

<div id="nota-container">
    <div id="nota-header">
        <img src="~/img/logo-fat.png" alt="Logo" />

        <div id="nota-header-info">
            <span>Fat Pig Invest - Corretora de Valores</span> <br />
            CNPJ: 00.000.000/0000-00 | www.fatpig.com.br <br />
            Rua dos Porcos Gordos, 165 - Jardim Chiqueiro <br />
            00.000-000 | Chiqueirópolis | SP | Brasil
        </div>

        <div id="nota-header-pregao">
            Número da Nota<br />
            <span>000000</span><br />
            Data do pregão<br />
            <span>19/06/2022</span>
        </div>
    </div>

    <div id="cliente">
        <div id="cliente-endereco">
            Investidor da Silva Junior <br />            
            Avenida das Flores, 214 - Residencial Primavera <br />
            00.000-000 | Chiqueirópolis | SP
        </div>
        <div id="cliente-cpf">
            CPF: 000.000.000-00 <br />
            Código do cliente: 000000
        </div>
    </div>

    <div id="operacoes">
        <table id="tabela" class="table">
            <thead>
                <tr style="text-align: center;">
                    <th>Mercado</th>
                    <th>CV</th>
                    <th>Tipo de Mercado</th>
                    <th>Especificação do Título</th>
                    <th>Obs</th>
                    <th style="text-align: right;">Quantidade</th>
                    <th style="text-align: right;">Preço/Ajuste</th>
                    <th style="text-align: right;">Valor/Ajuste</th>
                    <th>D/C</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td>BOVESPA</td>
                    <td>C</td>
                    <td>VISTA</td>
                    <td>ITSA4 - ITAU SA</td>
                    <td></td>
                    <td style="text-align: right;">100</td>
                    <td style="text-align: right;">9,36</td>
                    <td style="text-align: right;">936,00</td>
                    <td>D</td>
                </tr>
                <tr style="text-align: center;">
                    <td>BOVESPA</td>
                    <td>C</td>
                    <td>VISTA</td>
                    <td>VIVT4 - VIVO TELEF</td>
                    <td></td>
                    <td style="text-align: right;">100</td>
                    <td style="text-align: right;">35,42</td>
                    <td style="text-align: right;">3542,00</td>
                    <td>D</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="resumos">
        <div id="resumo-negocio">
            <div class="resumo-titulo">
                Resumo dos negócios
            </div>
            <div>

            </div>
        </div>
        <div id="resumo-financeiro">
            <div class="resumo-titulo">
                Resumo Financeiro
            </div>
        </div>
    </div>
</div>
