@{
    ViewData["Title"] = "Créditos";
}

<div class="page-content">
        
    <h1 style="padding-top: 30px;">@ViewData["Title"]</h1>
    <br />

    <div id="about-image">
        <img src="~/img/logo-fat.png" alt="logo" style="height:150px;" />
    </div>

    <div id="about-card">
        <div class="about-content-card">
            <img src="~/img/Brazil-Flag-icon.png" alt="Portuguese" />
            <p>
                <b>[Português]</b> Este é um aplicativo de autoestudo simulando um home broker 
                para operar no mercado de ações brasileiro. Ele contém dois projetos: 
                uma API REST para simular o serviço de bolsa de valores e uma aplicação 
                web para permitir que o usuário interaja com a API, comprando e vendendo 
                ações.
            </p>
        </div>
        <div class="about-content-card">
            <img src="~/img/United-States-Flag-icon.png" alt="English" />
            <p>
                <b>[English]</b> This is a self-study application simulating an e-trading 
                platform to operate on Brazilian stock market. It contains two projects: 
                a REST API to simulate the stock exchange service and a web application 
                to allow the user to interact with the API, buying and selling stocks.
            </p>
        </div>
        <div class="about-content-card">
            <img src="~/img/Spain-Flag-icon.png" alt="Spanish" />
            <p>
                <b>[Español]</b> Esta es una aplicación de autoaprendizaje que simula un 
                sistema de e-trading para la bolsa de valores brasileña. 
                El software contiene dos proyectos: una API REST para simular el servicio 
                de la bolsa y una aplicación web para el usuario interactuar con la API, 
                comprando y vendiendo acciones.
            </p>
        </div>
    </div>

    <div id="social-container">
    <div id="about-social">
            <img src="~/img/Octocat.png" alt="Github" style="height:80px;" />
            Visit my profile at Github: 
            <a  style="text-decoration:none; color:blue;" 
                href="https://github.com/sergio-lacerda" 
                target="_blank">
                Sérgio Lacerda
            </a>
    </div>
    </div>
    

</div>








