html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* View Créditos */

#about-image {
    background-color: #223f7f;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 30px;
}

#about-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content-card {
    max-width: 33%;
    padding: 0px 15px;
    text-align: center;
}

.about-content-card img {
    height: 100px;
}

#social-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#about-social {
    text-align: center;
    border: 1px solid #223f7f;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 10px;
    max-width: 500px;
}

#about-social img {
    padding-right: 20px;
}

/* View Nota de Negociação */

#nota-container {
    display: flex;
    flex-direction: column;
}

#nota-header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    padding: 15px 35px;
    background-color: #223f7f;
    color: white;
    border-radius: 10px;
}

#nota-header img {
    height: 95px;
}

#nota-header span {
    color: #FFFACD;
    text-transform: uppercase;
}

#nota-header-info {
    text-align: center;
}

#nota-header-pregao {
    width: 150px;
    text-align: right;
}

#cliente {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

#cliente-cpf {
    text-align: right;
}

#operacoes {
    padding: 20px 20px;
}

#resumos {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;    
}

#resumo-negocio {
    width: 50%;    
    text-align: center;
    border: 1px solid black;
    margin-right: 10px;   
    padding: 10px 10px;
}

#resumo-financeiro {
    width: 50%;
    text-align: center;
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px 10px;
}

.resumo-titulo {
    font-weight: bold;
    padding: 0px 10px;
}

.info {
    display: flex;    
    justify-content: space-between;
}

.esquerda {
    text-align: left;
    width: 50%;     
}

.direita {
    text-align: right;
    width: 50%;    
    font-weight: bold;
}

.total {
    border-top: 1px dotted darkslategray;
    border-bottom: 1px dotted darkslategray;
    font-weight: bold;
}